* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
/* Start of index.html */
.wrapper-index {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("../images/architecture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

/* Start of header- every page*/

header {
  width: 100%;
  background-color: #333;
  height: 10%;
  order: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 20px black;
  order: 0;
}
nav {
  width: 100%;
  height: 100%;
}
a img {
  width: 18vmin;
  height: 18vmin;
  transition: all 1s;
}
nav ul {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vmin;
  height: 100%;
  list-style: none;
  text-align: center;
  font-size: 3vmin;
  border-bottom: 3px solid #9fff80;
  transition: all 1.5s;
}
  li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #9fff80;
  transition: all 1.5s;
}
 li i {
  color: #9fff80;
  margin-left: 1vmin;
  transition: all 1.5s;
}
nav li:hover {
  box-shadow: inset 0 -100px 0 0 #9fff80;
  color: #333;
}
nav li:hover a {
  color: #333;
}
nav li:hover i {
  color: #333;
}
header a img:hover {
  transform: rotate(360deg) scale(1.2);
}

/* End of header- every page */

/* Start of main */

.main-index {
  width: 100%;
  min-height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 2;
}
.main-index ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 75%;
  height: 23%;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  border-bottom: 1vmin solid black;
}
.main-index li {
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  height: 100%;
}
.name {
  height: 100%;
  width: 19%;
  display: flex;
  justify-content: center;
  margin-left: 1%;
}
.study {
  height: 100%;
  width: 59%;
  margin-left: 5%;
  margin-right: 5%;
}
.picture {
  height: 100%;
  width: 11%;
  display: flex;
  justify-content: flex-end;
}
.main-index h1 {
  font-size: 5vmin;
}
.main-index h3 {
  font-size: 3vmin;
}
.picture img {
  height: 100%;
  width: 100%;
  border-radius: 0 5px 0 0;
}

/* End of main */

/* Start of footer- every page */
footer {
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  order: 3;
}
footer a {
  color: #9fff80;
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 2vmin;
}
.icons {
  display: flex;
  align-items: center;
  height: 100%;
}
i {
  color: white;
  cursor: pointer;
  font-size: 2vmin;
}
i p {
  display: none;
  font-size: 2vmin;
  transition: all 2s;
  margin-left: 1vmin;
}
i:hover {
  color: #9fff80;
}
i:hover p {
  color: #9fff80;
  display: inline-block;
}
.cr {
  display: flex;
  align-items: center;
  margin-right: 10vmin;
  width: 25%;
  height: 100%;
}

/* End of footer-every page */

/* End if index.html */

/* start of cv.html */
.wrapper-cv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("../images/architecture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.content-wrapper {
  height: 85%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  order: 2;
}
.main-cv {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-cv {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-wrapper section {
  background-color: rgba(51, 51, 51, 0.5);
  border: 1vmin solid black;
  border-radius: 20px;
  margin: 2.5%;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.wrapper-ul {
  width: 50%;
  font-size: 2.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-cv section {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content-wrapper section h2 {
  margin: 3%;
}
.content-wrapper section h4 {
  margin: 5%;
}
.main-cv section ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content-wrapper section li {
  width: 70%;
  margin: 1%;
  font-size: 2.1vmin;
}
.aside-cv section {
  height: 45%;
  width: 50%;
}
.aside-cv .subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.aside-cv ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  list-style: none;
}
.subtitle {
  text-decoration: none;
  list-style: none;
  font-size: 3vmin;
  margin: 2.5%;
  width: 100%;
}
.indented {
  font-size: 2vmin;
  list-style: inside;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* end of cv.html */

/* start of bio.html */
.wrapper-bio {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("../images/architecture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.main-bio {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  order: 2
}
.main-bio section {
  height: 50vmin;
  width: 50vmin;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(51, 51, 51, 0.6);
  border: 1vmin solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
  transition: all 1s;
  margin: 5.5vmin;
  order: 1;
}
.main-bio section img {
  height: 30%;
  width: 30%;
  border-radius: 10px;
  transition: all 1s;
}
.main-bio section h2 {
  font-size: 3.5vmin;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2vmin;
}
.main-bio section p {
  font-size: 2.3vmin;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2vmin;
}
.main-bio section ul {
  font-size: 2.3vmin;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2vmin;
  margin: 2vmin;
}
/* end of bio.html */

/* start of contact.html */
.wrapper-contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("../images/architecture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
 .main-contact {
   width: 100%;
   height: 85%;
   order: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
 }
.main-contact article {
  height: 12vmin;
  width: 50vmin;
  background-color: rgba(51, 51, 51, 0.5);
  border: 1vmin solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5%;
  transition: all 1s;
}
.main-contact section {
  margin: 2.5%;
}
.facebook img {
  height: 100%;
  width: auto;
}
.facebook h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 4vmin;
  margin: 10%;
}
.gmail img {
  height: 50%;
  width: auto;
  margin-left: 5%;
}
.gmail h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 2.5vmin;
  margin: 10%;
}
.twitter img {
  height: 100%;
  width: auto;
}
.twitter h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3.5vmin;
  margin: 10%;
}
.number img {
  height: 70%;
  width: auto;
  margin-left: 5%;
}
.number h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 4vmin;
  margin: 10%;
}
.button-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_me img {
  height: 70%;
  width: auto;
  margin-left: 5%;
}
.contact_me h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3.5vmin;
  margin: 10%;
}
.main-contact article:hover {
  transform: scale(1.1);
}
/* end of contact.html */

/* start of form.html */

.wrapper-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("../images/architecture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.main-form {
  height: 85%;
  width: 100%;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #C2C2C2;
  width: 25%;
  height: auto;
  padding: 1%;
  box-shadow: 0 5px 20px black;
}
input {
  margin: 3%;
}
.form_name {
  width: 70%;
}
.email {
  width: 90%;
}
.enquiry {
  width: 90%;
  height: 20%;
  margin: 3%;
}
.button_form {
  width: 20%;
  height: 6%;
  transition: all 0.5s;
  cursor: pointer;
}
/* end of form.html */

/* Start of Media Query */

/* For smaller resolution screen */
 @media screen and (max-width: 600px) {
   nav ul p {
     display: none;
   }
   nav ul li {
     width: 10vmin;
   }
   .main-index {
     display: flex;
     flex-direction: column;
   }
   .main-index ul {
     display: flex;
     flex-direction: column;
     width: 50%;
   }
   .main-index ul li {
     padding: 5%;
   }
   .name {
     order: 0;
   }
   .picture {
     order: 1;
     height: 100%;
     width: 30%;
   }
   .picture img {
      border-radius: 10%;
   }
   .study {
     order: 2;
     margin-left: 0;
     margin-right: 0;
     width: 100%;
   }
   .wrapper-bio {
     height: 100vh;
     display: flex;
     flex-direction: column;
   }
   .main-bio .university {
     margin-top: 10%;
   }
 }
 @media screen and (max-width: 950px) {
   form {
     width: 35%;
   }
 }
  @media screen and (max-width: 650px) {
    form {
      width: 50%;
    }
  }
  /* For Mobile Compatability */

/* end of Media Query */
